.gallery {
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
}
.gallery-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 1px;
}
.shop {
  cursor: pointer;
}
.shop,
.the-crew {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  z-index: 1;
}
.about-us-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 12px 4px;
}
.mg-3204-1-icon {
  position: absolute;
  top: 0;
  left: -44px;
  border-radius: 11px;
  width: 1528px;
  height: 1045px;
  object-fit: cover;
}
.dgifmaker80258-1-icon {
  position: absolute;
  top: -16px;
  left: 655px;
  width: 131px;
  height: 131px;
  object-fit: cover;
  z-index: 1;
}
.mg-3204-1-parent {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.desk-home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 460px 662px 455px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--body-strong-size);
  color: var(--color-white);
  font-family: var(--body-strong);
}
@media screen and (max-width: 720px) {
  .desk-home {
    padding-left: var(--padding-312xl);
    padding-right: var(--padding-312xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 360px) {
  .desk-home {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
